<!doctype html>
<html lang="en">
  <head>

    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" />

    <title>Event-driven Cart</title>

    <link rel='stylesheet' href='/styles.css' />
  </head>

  <body>

    <div class='c-navbar'>
      <h1 class='c-title'><a href='/'>Book 📖 Store</a></h1>
    </div>

    <%= yield %>

    <script>
      (function() {
        // simple lazy-loaded images
        document.querySelectorAll('.lazyload').forEach(function(image) {
          image.setAttribute('src', image.getAttribute('data-src'))
        })
      })()
    </script>
  </body>
</html>
